Repository pbuckley/monorepo-demo: changes, and which Buildkite steps are due for each by the changed paths.
All: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

.buildkite/pipeline.yml:

steps:
  - label: "Building monorepo"
    plugins:
      - monorepo-diff#v1.2.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path: boxy/
              config:
                command: ".buildkite/scripts/dynamic_pipeline.sh boxy"
            - path: safe/
              config:
                command: ".buildkite/scripts/dynamic_pipeline.sh safe"
queue: "q1"

so the relative path is from workspace root?
  .buildkite/scripts/dynamic_pipeline.sh
Due: none

so the relative path is from workspace root? (#1)
  .buildkite/scripts/dynamic_pipeline.sh
Due: none

one little change
  safe/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh safe

one little change (#2)
  safe/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh safe

changing the pipelines to the rough shapes
  boxy/pipeline.yml
  safe/pipeline.yml
  tall/README.md
  tall/pipeline.yml
  trigger/README.md
  trigger/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

changing the pipelines to the rough shapes (#3)
  boxy/pipeline.yml
  safe/pipeline.yml
  tall/README.md
  tall/pipeline.yml
  trigger/README.md
  trigger/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

more shape fixes and mono root pipeline include my other 2 folders
  .buildkite/pipeline.yml
  boxy/pipeline.yml
  safe/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

fix the duplicate key between the multi steps of pipeline
  safe/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh safe

more shape fixes and mono root pipeline include my other 2 folders (#4)
  .buildkite/pipeline.yml
  boxy/pipeline.yml
  safe/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

change all 4 readmes and see what happens
  boxy/README.md
  safe/README.md
  tall/README.md
  trigger/README.md
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

change all 4 readmes and see what happens (#5)
  boxy/README.md
  safe/README.md
  tall/README.md
  trigger/README.md
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

change the triggered pipeline targeted
  trigger/pipeline.yml
Due: none

change the triggered pipeline targeted (#6)
  trigger/pipeline.yml
Due: none

try k8sdefault as the queue
  boxy/pipeline.yml
  safe/pipeline.yml
  tall/pipeline.yml
  trigger/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

agents: queue: k8sdefault my syntax was off
  boxy/pipeline.yml
  safe/pipeline.yml
  tall/pipeline.yml
  trigger/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

more readme changes to trigger pipeline runs
  boxy/README.md
  safe/README.md
  tall/README.md
  trigger/README.md
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

try k8sdefault as the queue (#7)
  boxy/README.md
  boxy/pipeline.yml
  safe/README.md
  safe/pipeline.yml
  tall/README.md
  tall/pipeline.yml
  trigger/README.md
  trigger/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

back to q1 the k8sdefault is no bueno
  boxy/pipeline.yml
  safe/pipeline.yml
  tall/pipeline.yml
  trigger/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

back to q1 the k8sdefault is no bueno (#8)
  boxy/pipeline.yml
  safe/pipeline.yml
  tall/pipeline.yml
  trigger/pipeline.yml
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

another change for all 4 subfolders of monorepo
  boxy/README.md
  safe/README.md
  tall/README.md
  trigger/README.md
Due: .buildkite/scripts/dynamic_pipeline.sh boxy, .buildkite/scripts/dynamic_pipeline.sh safe

example pipelines one good and one bad
  .buildkite/bad_pipeline.yml
  .buildkite/good_pipeline.yml
Due: none

basic script to echo meta-data, this is a mock
  .buildkite/scripts/build_deployable_service.sh
Due: none

make this script executable
  .buildkite/scripts/build_deployable_service.sh
Due: none

Script for deployable service (#10)
  .buildkite/scripts/build_deployable_service.sh
Due: none

create annotation with a build success report
  .buildkite/scripts/build_deployable_service.sh
Due: none

missing ye olde closing paren
  .buildkite/scripts/build_deployable_service.sh
Due: none

trying to fixup some formatting glitcheroonies
  .buildkite/scripts/build_deployable_service.sh
Due: none

Add an annotation (#11)
  .buildkite/scripts/build_deployable_service.sh
Due: none

try to demo a trigger step
  .buildkite/pipeline.yml
Due: none
